<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>HOT SEARCH DATAS</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"></link>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Hello World !</h1>
  </body>
</html>